/* Estilos gerais da página */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main content (todo o conteúdo da página, exceto footer) */
.main-content {
  flex-grow: 1; /* Esse valor faz o conteúdo crescer e ocupar o espaço disponível */
}

/* Estilos do footer */
.footer {
  padding: 20px 40px;
  background: #000;
  color: #fff;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer-menu li a {
  text-decoration: none;
  color: #fff;
}
