.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: gray; /* Cor de fundo */
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra discreta */
}

.navbar .logo {
  height: 40px; /* Logo menor */
}

.navbar .menu {
  display: flex;
  justify-content: center; /* Centraliza os itens */
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Faz a lista crescer e ocupar o espaço disponível */
}

.navbar .menu li {
  position: relative;
}

.navbar .menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px; /* Texto menor */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar .menu a:hover {
  color: black; /* Cor de hover */
}

.navbar .logout-btn {
  background: #e53935; /* Cor do botão de logout */
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar .logout-btn:hover {
  background: #b71c1c; /* Cor de hover do botão */
}

.navbar .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .icons .search-btn {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .icons .search-btn:hover {
  background-color: black;
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center; /* Centraliza os itens na versão móvel */
  }

  .navbar .menu {
    flex-direction: column;
    gap: 8px;
    justify-content: center; /* Centraliza os itens do menu na versão móvel */
  }

  .navbar .icons {
    margin-top: 8px;
  }
}
